duckdb==0.10.3
pandas==2.2.2
requests==2.32.2
ipykernel==6.29.4
ydata-profiling==4.8.3
jupyter==1.0.0
scikit-learn==1.5.0
torch==2.3.0
tensorboard==2.16.2
investpy==1.0.8
prophet==1.1.5
plotly==5.22.0
yfinance==0.2.43
Flask==3.0.3
PyYAML==6.0.2